// Generated with https://github.com/aleksander-ferkingstad/svd2cpp version {{ converter_version }} with input file {{ svd_filename }}

#pragma once
#include "register.hpp"

{% for peripheral in peripherals %}
//! @brief {{ peripheral.findtext('description') }}
struct {{ peripheral.findtext('name')}} {
    static constexpr {{register_width}} BASE = {{ peripheral.findtext('baseAddress') }};
};
{% endfor %}
